---
const { Icon, bgColor, className = "", text, link } = Astro.props;
---

<a
  href={link}
  target="_blank"
  class={`group w-12 hover:w-44 h-12 hover:bg-green-600 relative bg-green-700 rounded text-neutral-50 duration-700 before:duration-700 before:hover:500 font-bold flex justify-start gap-2 items-center px-1 pr-6 before:absolute before:-z-10 before:left-8 before:hover:left-40 before:w-6 before:h-6 before:bg-green-600 before:hover:bg-green-700 before:rotate-45`}
>
  <svg
    y="0"
    xmlns="http://www.w3.org/2000/svg"
    x="0"
    width="100"
    viewBox="0 0 100 100"
    preserveAspectRatio="xMidYMid meet"
    height="100"
    class="w-8 h-8 shrink-0 fill-neutral-50"
  >
    <Icon />
  </svg>
  <span
    class="origin-left inline-flex duration-100 group-hover:duration-300 group-hover:delay-500 opacity-0 group-hover:opacity-100 border-l-2 px-1 transform scale-x-0 group-hover:scale-x-100 transition-all"
    >{text}</span
  >
</a>
