---
import Header from "../components/sections/Header/Header.astro";
import Navbar from "../components/sections/Header/components/Navbar.astro";
import Home from "../components/sections/Home/Home.astro";
import Projects from "../components/sections/Projects/Projects.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/name-icon.webp" />
		<meta
			name="description"
			content="¡Hola! Soy Damian Zsiros, un estudiante de Ingeniería de Sistemas y
		desarrollador web especializado en JavaScript, React y Node. Aunque
		aún no tengo experiencia laboral formal, he adquirido conocimientos
		sólidos y habilidades prácticas en el diseño y desarrollo de
		aplicaciones web. He trabajado en proyectos personales y académicos,
		donde he demostrado mi capacidad para enfrentar desafíos y entregar
		resultados de calidad. Mi pasión por la programación y mi compromiso
		me motivan a seguir creciendo y aprender más cada día. Si estás
		buscando un desarrollador talentoso y comprometido, estoy emocionado
		de trabajar contigo. ¡No dudes en contactarme!"
		/>
		<meta
			name="og:description"
			content="¡Hola! Soy Damian Zsiros, un estudiante de Ingeniería de Sistemas y
		desarrollador web especializado en JavaScript, React y Node. Aunque
		aún no tengo experiencia laboral formal, he adquirido conocimientos
		sólidos y habilidades prácticas en el diseño y desarrollo de
		aplicaciones web. He trabajado en proyectos personales y académicos,
		donde he demostrado mi capacidad para enfrentar desafíos y entregar
		resultados de calidad. Mi pasión por la programación y mi compromiso
		me motivan a seguir creciendo y aprender más cada día. Si estás
		buscando un desarrollador talentoso y comprometido, estoy emocionado
		de trabajar contigo. ¡No dudes en contactarme!"
		/>
		<meta name="og:image" content="/opengraph-img.png" />
		<meta name="viewport" content="width=device-width" />
		<title>Damian Zsiros | Web Developer</title>
	</head>
	<body class="font-poppins bg-[var(--structureColor1)] m-auto">
		<Header />
		<Navbar id="navbar" />
		<main class="text-[--textColor2] px-8 md:px-12 w-full">
			<Home />
			<Projects />
		</main>
	</body>
	<style is:global>
		@import url("/global.css");
	</style>
</html>
