---
import Header from "../components/sections/Header/Header.astro";
import Navbar from "../components/sections/Header/components/Navbar.astro";
import Home from "../components/sections/Home/Home.astro";
import Projects from "../components/sections/Projects/Projects.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/name-icon.webp" />
		<meta name="viewport" content="width=device-width" />
		<title>Damian Zsiros | Backend Developer</title>
	</head>
	<body class="font-poppins bg-[var(--structureColor1)] m-auto">
		<Header />
		<Navbar id="navbar" />
		<main class="text-[--textColor2] px-8 md:px-12 w-full">
			<Home />
			<Projects />
		</main>
	</body>
	<style is:global>
		@import url("/global.css");
	</style>
</html>
