---
import Header from "../components/sections/Header/Header.astro";
import Navbar from "../components/sections/Header/components/Navbar.astro";
import Home from "../components/sections/Home/Home.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/name-icon.webp" />
		<meta name="viewport" content="width=device-width" />
		<title>Damian Zsiros | Backend Developer</title>
	</head>
	<body class="font-poppins bg-[var(--structureColor1)] m-auto">
		<Header />
		<Navbar id="navbar" />
		<main class="text-[--textColor2] px-12 w-full">
			<Home />
		</main>
	</body>
	<style is:global>
		@font-face {
			font-family: "Poppins";
			src: url("/fonts/Poppins/Poppins-Regular.ttf") format("ttf");
			font-weight: normal;
		}
		@font-face {
			font-family: "Poppins";
			src: url("/fonts/Poppins/Poppins-Bold.ttf") format("ttf");
			font-weight: bold;
		}
		@font-face {
			font-family: "SF UI Text";
			src: url("/fonts/SF UI Text/SFUIText-Regular.ttf") format("ttf");
			font-weight: normal;
		}
		@font-face {
			font-family: "SF UI Text";
			src: url("/fonts/SF UI Text/SFUIText-Bold.ttf") format("ttf");
			font-weight: bold;
		}
		@font-face {
			font-family: "SF UI Text";
			src: url("/fonts/SF UI Text/SFUIText-Heavy.ttf") format("ttf");
			font-weight: 800;
		}
		:root {
			--structureColor1: #010101;
			--structureColor2: #0ca34d;
			--structureColor3: #4a57f0;
			--textColor1: #4f5356;
			--textColor2: #ffffff;
		}
	</style>
</html>
