---
import LayoutContainerSection from "./LayoutContainerSection.astro"

const { title, id, animate = false } = Astro.props
---



<LayoutContainerSection className=`${animate && 'animate'}` id={`${id}`}>
  <header>
    <h2 class="text-center text-3xl font-sfui font-extrabold uppercase">
      {title}
    </h2>
  </header>
  <main >
    <slot />
  </main>
</LayoutContainerSection>
